.section-four{
    &_btn{
        width: 247px;
        height: 54px;
        border-radius: 0px 30px 0px 0px;
        background: var(--Foundation-Blue-blue-500, #2B3C7A);
        color: #fff;
        font-size: 26px;
        margin-left: -1px;
        margin-top: 66px;
    }
}